In [1]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
%matplotlib inline

In [2]:
df = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [3]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [4]:
df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [5]:
dfw= df[['SEVERITYCODE','WEATHER', 'ADDRTYPE', 'ROADCOND','LIGHTCOND','SPEEDING','INATTENTIONIND','UNDERINFL']]
#dfw[['SEVERITYCODE']].dropna(inplace=True)

#Encoding in attention (0 = No, 1 = Yes)
dfw['INATTENTIONIND'].replace(to_replace=['Y',np.nan], value=[1,0],inplace=True)


#Encoding Under the influence (0 = No, 1 = Yes)
dfw['UNDERINFL'].replace(to_replace=['N','Y','0','1'], value=[0,1,0,1],inplace=True)


#Encoding Speeding(0 = No, 1 = Yes)
dfw['SPEEDING'].replace(to_replace=[np.nan,'Y'], value=[0,1],inplace=True)

#Encoding Address Type(0 = No, 1 = Yes)
dfw['ADDRTYPE'].replace(to_replace=['Intersection','Block', 'Alley'], value=[2,1,0],inplace=True)

#Encoding Light Conditions(0 = Light, 1 = Medium, 2 = Dark)
dfw['LIGHTCOND'].replace(to_replace=["Daylight","Dark - Street Lights On","Dark - No Street Lights","Dusk", "Dawn", 
                                     "Dark - Street Lights Off", "Dark - Unknown Lighting", "Other", "Unknown"], 
                         value=[0,1,2,1,1,2,2,np.nan, np.nan],inplace=True)


#Encoding Weather Conditions(0 = Clear, 1 = Cloudy, 2 = Windy, 3 = Rain and Snow
dfw['WEATHER'].replace(to_replace=["Clear","Raining","Overcast","Snowing","Fog/Smog/Smoke","Sleet/Hail/Freezing Rain",
                                   "Blowing Sand/Dirt","Severe Crosswind","Partly Cloudy","Other", "Unknown"], 
                       value=[0,3,1,3,2,3,2,2,1,np.nan, np.nan],inplace=True)


#Encoding Road Conditions(0 = Dry, 1 = Dirty, 2 = Wet, 3 = Ice)
dfw['ROADCOND'].replace(to_replace=["Dry","Wet","Ice","Snow/Slush","Other","Standing Water","Sand/Mud/Dirt", "Oil", "Unknown"], 
                     value=[0,2,3,2,np.nan,2,1,1, np.nan],inplace=True)

dfw

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,SEVERITYCODE,WEATHER,ADDRTYPE,ROADCOND,LIGHTCOND,SPEEDING,INATTENTIONIND,UNDERINFL
0,2,1.0,2.0,2.0,0.0,0,0,0.0
1,1,3.0,1.0,2.0,1.0,0,0,0.0
2,1,1.0,1.0,0.0,0.0,0,0,0.0
3,1,0.0,1.0,0.0,0.0,0,0,0.0
4,2,3.0,2.0,2.0,0.0,0,0,0.0
5,1,0.0,2.0,0.0,0.0,0,0,0.0
6,1,3.0,2.0,2.0,0.0,0,0,0.0
7,2,0.0,2.0,0.0,0.0,0,0,0.0
8,1,0.0,1.0,0.0,0.0,0,0,0.0
9,2,0.0,2.0,0.0,0.0,0,0,0.0
10,1,1.0,0.0,0.0,0.0,0,0,0.0
11,1,0.0,2.0,0.0,0.0,0,0,0.0
12,1,3.0,1.0,2.0,1.0,0,0,0.0
13,1,3.0,1.0,2.0,2.0,0,0,0.0
14,2,0.0,1.0,0.0,1.0,0,0,0.0
15,1,NaN,1.0,NaN,NaN,0,0,NaN
16,2,1.0,2.0,0.0,0.0,0,0,0.0
17,1,1.0,1.0,0.0,0.0,0,0,0.0
18,2,0.0,1.0,0.0,0.0,0,0,0.0
19,1,NaN,1.0,0.0,NaN,0,0,0.0
20,2,0.0,1.0,0.0,1.0,0,0,0.0
21,2,0.0,2.0,0.0,0.0,0,0,0.0
22,1,0.0,1.0,0.0,1.0,0,1,0.0
23,1,NaN,1.0,NaN,NaN,0,0,0.0
24,2,0.0,2.0,0.0,0.0,1,0,0.0
25,2,0.0,1.0,0.0,0.0,0,1,0.0
26,1,1.0,2.0,2.0,NaN,0,0,0.0
27,1,0.0,1.0,0.0,0.0,0,0,0.0
28,1,0.0,1.0,0.0,0.0,0,0,0.0
29,1,0.0,1.0,0.0,0.0,0,0,0.0
...,...,...,...,...,...,...,...,...
194643,1,0.0,1.0,0.0,1.0,0,0,0.0
194644,1,0.0,2.0,0.0,1.0,0,0,0.0
194645,2,0.0,2.0,0.0,1.0,0,0,0.0
194646,1,NaN,1.0,NaN,NaN,0,0,NaN
194647,2,3.0,1.0,2.0,1.0,0,1,0.0
194648,1,3.0,1.0,2.0,1.0,0,0,1.0
194649,2,0.0,2.0,0.0,1.0,0,0,0.0
194650,2,0.0,1.0,0.0,0.0,0,0,0.0
194651,1,0.0,2.0,2.0,1.0,0,0,0.0
194652,1,1.0,1.0,2.0,1.0,0,1,0.0
194653,2,1.0,1.0,2.0,1.0,0,0,1.0
194654,1,NaN,2.0,NaN,NaN,0,0,NaN
194655,2,NaN,2.0,NaN,NaN,0,0,NaN
194656,2,0.0,2.0,0.0,0.0,0,0,0.0
194657,1,3.0,1.0,2.0,1.0,0,0,0.0
194658,1,3.0,1.0,2.0,1.0,0,0,0.0
194659,1,3.0,1.0,2.0,1.0,0,0,0.0
194660,2,3.0,1.0,2.0,NaN,0,0,0.0
194661,2,0.0,1.0,0.0,0.0,0,0,1.0
194662,1,0.0,1.0,0.0,1.0,0,0,0.0
194663,2,3.0,1.0,2.0,0.0,0,1,0.0
194664,1,0.0,2.0,0.0,0.0,0,0,0.0
194665,1,0.0,2.0,0.0,0.0,0,0,0.0
194666,2,0.0,1.0,2.0,0.0,0,0,0.0
194667,1,3.0,1.0,2.0,1.0,0,0,1.0
194668,2,0.0,1.0,0.0,0.0,0,0,0.0
194669,1,3.0,1.0,2.0,0.0,0,1,0.0
194670,2,0.0,2.0,0.0,0.0,0,0,0.0
194671,2,0.0,2.0,0.0,1.0,0,0,0.0
194672,1,0.0,1.0,2.0,0.0,0,0,0.0

In [22]:
dfw = dfw.fillna(dfw.median())
#dfw.describe()
dfw.corr()

,SEVERITYCODE,WEATHER,ADDRTYPE,ROADCOND,LIGHTCOND,SPEEDING,INATTENTIONIND,UNDERINFL
SEVERITYCODE,1.000000,0.039505,0.199619,0.032846,-0.002306,0.038938,0.046378,0.044377
WEATHER,0.039505,1.000000,0.044347,0.801087,0.184243,0.123741,-0.007697,0.018167
ADDRTYPE,0.199619,0.044347,1.000000,0.036711,-0.008643,-0.058017,-0.073325,-0.041532
ROADCOND,0.032846,0.801087,0.036711,1.000000,0.193327,0.149233,-0.013966,0.021140
LIGHTCOND,-0.002306,0.184243,-0.008643,0.193327,1.000000,0.093711,-0.036393,0.220734
SPEEDING,0.038938,0.123741,-0.058017,0.149233,0.093711,1.000000,-0.048805,0.092356
INATTENTIONIND,0.046378,-0.007697,-0.073325,-0.013966,-0.036393,-0.048805,1.000000,-0.025953
UNDERINFL,0.044377,0.018167,-0.041532,0.021140,0.220734,0.092356,-0.025953,1.000000

In [23]:
X = dfw[['WEATHER', 'ADDRTYPE', 'ROADCOND','LIGHTCOND','SPEEDING','INATTENTIONIND','UNDERINFL']]
X[0:5]

   WEATHER  ADDRTYPE  ROADCOND  LIGHTCOND  SPEEDING  INATTENTIONIND  UNDERINFL
0      1.0       2.0       2.0        0.0         0               0        0.0
1      3.0       1.0       2.0        1.0         0               0        0.0
2      1.0       1.0       0.0        0.0         0               0        0.0
3      0.0       1.0       0.0        0.0         0               0        0.0
4      3.0       2.0       2.0        0.0         0               0        0.0

In [24]:
y = df['SEVERITYCODE'].values
y[0:5]

array([2, 1, 1, 1, 2])

In [25]:
X= preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  if __name__ == '__main__':

array([[ 0.28689264,  1.39942178,  1.67081866, -0.64628611, -0.22440165,
        -0.42518348, -0.2217116 ],
       [ 2.05545297, -0.69049979,  1.67081866,  1.36980965, -0.22440165,
        -0.42518348, -0.2217116 ],
       [ 0.28689264, -0.69049979, -0.58486822, -0.64628611, -0.22440165,
        -0.42518348, -0.2217116 ],
       [-0.59738753, -0.69049979, -0.58486822, -0.64628611, -0.22440165,
        -0.42518348, -0.2217116 ],
       [ 2.05545297,  1.39942178,  1.67081866, -0.64628611, -0.22440165,
        -0.42518348, -0.2217116 ]])

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (155738, 7) (155738,)
Test set: (38935, 7) (38935,)

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [36]:
from sklearn.tree import DecisionTreeClassifier
dTree = DecisionTreeClassifier(criterion="entropy", max_depth = 5)
dTree.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [17]:
from sklearn.metrics import jaccard_similarity_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss

In [19]:
LR_report=[0,0,0]

LR_report[0]= jaccard_similarity_score(y_test, LR.predict(X_test))
LR_report[1]= f1_score(y_test, LR.predict(X_test), average='weighted')
LR_report[2]= log_loss(y_test, LR.predict_proba(X_test))
LR_report

[0.697341723385129, 0.6130074771702985, 0.5835203593850214]

In [35]:
dTree_report=[0,0,0]

dTree_report[0]= jaccard_similarity_score(y_test, dTree.predict(X_test))
dTree_report[1]= f1_score(y_test, dTree.predict(X_test), average='weighted')
dTree_report

[0.7046872993450622, 0.5949603976869924, 0]

In [38]:
LR

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)